.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

#reminder {
  font-size: 10px;
  color: red;
  margin: 5px;
  display: none;
}

header {
  height: 90px; 
}
